.app__wrapper-content{
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top:3rem ;
   
}
.app__wrapper-content_quote{
    display: flex;
    justify-content: flex-start;   
    gap: 1rem;
    
}
.app__wrapper-content_quote img{
    width: 3rem;
    height: 2.3rem;
    margin-top: -2rem;
    
}
.app-chef-sign{
    margin: 2rem 0;
}
.app-chef-sign p:first-child{
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 2rem;  

}
.app-chef-sign img{
    width: 17rem;
    margin: 3rem 0;
}

